In [1]:
# On importe nos librairies
from pprint import pprint as pp
import pymongo as pymongo
from pymongo import MongoClient
import pandas as pd
import json

In [2]:
# Import du dataset avec pandas
dataset = pd.read_csv("/home/nansk/Téléchargements/NoSQL/wh_staff_dataset.csv")

In [3]:
# On regarde sa structure
dataset.shape

(10600, 7)

In [4]:
# On élimine les entrées avec des valeurs non attribuées, les entrées où le salaire est égal à 0, les entrées dupliquées, et on vérifie à nouveaux la structure
dataset.dropna(axis=0, how='any', inplace=True)
dataset = dataset[dataset.salary != 0]
dataset.drop_duplicates()
dataset.shape

(10555, 7)

In [5]:
# On affiche les 5 premières entrées de notre dataset
dataset.head()

,year,name,gender,status,salary,pay_basis,position_title
0,1997,"Abedin,Huma M.",Female,Employee,27500.0,Per Annum,OFFICE MANAGER
1,1997,"Abrams,Lori E.",Female,Employee,35000.0,Per Annum,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS"
2,1997,"Alcorn,Brian A.",Male,Employee,25000.0,Per Annum,ASSISTANT DIRECTOR FOR ADVANCE
3,1997,"Allen,Jeannetta Pam",Female,Employee,22000.0,Per Annum,STAFF ASSISTANT
4,1997,"Allison,Donna Tate",Female,Employee,27624.0,Per Annum,WHITE HOUSE TELEPHONE OPERATOR

In [6]:
# On split la colonne name au niveau de la virgule, pour faire une colonne nom et une colonne prénom, et on supprime l'ancienne colonne name
dataset[['last_name', 'first_name']] = dataset['name'].str.split(',', n=1, expand=True)
dataset.drop('name', axis=1, inplace=True)

In [7]:
# On affiche les 5 premières entrées pour vérifier si tout est ok
dataset.head()

,year,gender,status,salary,pay_basis,position_title,last_name,first_name
0,1997,Female,Employee,27500.0,Per Annum,OFFICE MANAGER,Abedin,Huma M.
1,1997,Female,Employee,35000.0,Per Annum,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS",Abrams,Lori E.
2,1997,Male,Employee,25000.0,Per Annum,ASSISTANT DIRECTOR FOR ADVANCE,Alcorn,Brian A.
3,1997,Female,Employee,22000.0,Per Annum,STAFF ASSISTANT,Allen,Jeannetta Pam
4,1997,Female,Employee,27624.0,Per Annum,WHITE HOUSE TELEPHONE OPERATOR,Allison,Donna Tate

In [9]:
# On se connecte avec pymongo à notre BDD MongoDB Atlas
client = MongoClient("mongodb+srv://adm:ADMpassword123@initial.e0fas.mongodb.net/initial?retryWrites=true&w=majority")
# On créer une BDD
db = client["initial"]

# On réinitialise l'indexation et on créer une liste data_dict qui contient chacune des entrées dans un dictionnaire
dataset.reset_index(inplace=True)
data_dict = dataset.to_dict("records")
# On insert les entrées dans une collection
db.salary.insert_many(data_dict)

In [10]:
# On parcourt et print toutes les collections de notre BDD
for collection in db.list_collection_names():
    print(collection)

salary

In [11]:
# On affiche les valeurs distinctes présentes dans les variables suivantes de notre dataset :

print("status = ", db.salary.distinct("status"), "\n")

print("pay_basis = ", db.salary.distinct("pay_basis"), "\n")

print("gender = ", db.salary.distinct("gender"), "\n")

print("year = ", db.salary.distinct("year"), "\n")

status =  ['Detailee', 'Employee', 'Employee (part-time)']

pay_basis =  ['Per Annum', 'Per Diem']

gender =  ['Female', 'Male']

year =  [1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [12]:
# Salaire max, moyen, min et compte par pay_basis ( annuelle ou journalière )
pipeline = [
    {
        "$group": {
            "_id": "$pay_basis",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "avg_salary": pymongo.DESCENDING
        }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

         _id  count  max_salary    avg_salary  min_salary
0  Per Annum  10551    239595.0  75465.973178         1.0
1   Per Diem      4       592.0    574.500000       557.0

In [13]:
# Salaire max, moyen, min et compte par pay_basis ( annuelle ou journalière ) et par genre ( homme ou femme )
pipeline = [
    {
        "$group": {
            "_id": { "pay_basis": "$pay_basis",
                     "gender": "$gender"
                     },
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "avg_salary": pymongo.DESCENDING
        }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

,_id,count,max_salary,avg_salary,min_salary
0,"{'pay_basis': 'Per Annum', 'gender': 'Male'}",4975,239595.0,83101.365226,1.0
1,"{'pay_basis': 'Per Annum', 'gender': 'Female'}",5576,183000.0,68653.549319,1.0
2,"{'pay_basis': 'Per Diem', 'gender': 'Female'}",1,592.0,592.000000,592.0
3,"{'pay_basis': 'Per Diem', 'gender': 'Male'}",3,592.0,568.666667,557.0

In [14]:
# Salaire max, moyen, min, nom, prénom, et compte des 10 personnes ayants le plus haut salaire
pipeline = [
    {
        "$group": {
            "_id": {"first_name": "$first_name", "last_name": "$last_name"},
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "avg_salary": pymongo.DESCENDING
        }
    },
    {
        "$limit": 10,
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

,_id,count,max_salary,avg_salary,min_salary
0,"{'first_name': 'John S.', 'last_name': 'Czwartacki'}",1,239595.0,239595.0,239595.0
1,"{'first_name': 'John M.', 'last_name': 'Mulvaney'}",1,203500.0,203500.0,203500.0
2,"{'first_name': 'David E.', 'last_name': 'Marcozzi'}",1,192934.0,192934.0,192934.0
3,"{'first_name': 'Peter J.', 'last_name': 'Brown'}",1,190289.0,190289.0,190289.0
4,"{'first_name': 'Mark S.', 'last_name': 'House'}",1,187100.0,187100.0,187100.0
5,"{'first_name': 'Bruce M.', 'last_name': 'Lawlor'}",1,183372.0,183372.0,183372.0
6,"{'first_name': 'Daniel P.', 'last_name': 'Walsh'}",1,183000.0,183000.0,183000.0
7,"{'first_name': 'Joseph J.', 'last_name': 'Grogan'}",1,183000.0,183000.0,183000.0
8,"{'first_name': 'Kristan K.', 'last_name': 'Nevins'}",1,183000.0,183000.0,183000.0
9,"{'first_name': 'Emma K.', 'last_name': 'Doyle'}",2,183000.0,183000.0,183000.0

In [15]:
# Salaire max, moyen, min, titre du poste, et compte des 10 postes offrant le plus haut salaire
pipeline = [
    {
        "$group": {
            "_id": "$position_title",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "avg_salary": pymongo.DESCENDING
        }
    },
    {
        "$limit": 10,
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

,_id,count,max_salary,avg_salary,min_salary
0,SENIOR ADVISOR TO THE CHIEF OF STAFF FOR STRATEGY AND STAKEHOLDER ENGAGEMENT,1,239595.0,239595.0,239595.0
1,ACTING CHIEF OF STAFF,1,203500.0,203500.0,203500.0
2,SPECIAL REPRESENTATIVE FOR DISASTER RECOVERY,1,190289.0,190289.0,190289.0
3,SENIOR DIRECTOR PROTECTION AND PREVENTION,1,183372.0,183372.0,183372.0
4,ASSISTANT TO THE PRESIDENT AND COUNSELOR TO THE PRESIDENT,2,183000.0,183000.0,183000.0
5,ASSISTANT TO THE PRESIDENT AND ACTING DIRECTOR OF THE OFFICE OF LEGISLATIVE AFFAIRS,1,183000.0,183000.0,183000.0
6,ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF STAFF FOR POLICY TO THE FIRST LADY,1,183000.0,183000.0,183000.0
7,ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF STAFF FOR COMMUNICATIONS FOR THE FIRST LADY,1,183000.0,183000.0,183000.0
8,ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR TO THE CHIEF OF STAFF,1,183000.0,183000.0,183000.0
9,ASSISTANT TO THE PRESIDENT AND CHIEF OF STAFF TO THE FIRST LADY AND SPOKESPERSON,1,183000.0,183000.0,183000.0

In [16]:
# # Salaire max, moyen, min, titre du poste, et compte des 10 postes offrants le plus haut salaire
pipeline = [
    {
        "$group": {
            "_id": "$position_title",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "avg_salary": pymongo.ASCENDING
        }
    },
    {
        "$limit": 10,
    },    {
        "$project": {
            "_id": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary",
            "count": 1,
            "name": 1,
        }
    }

]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

,_id,count,max_salary,avg_salary,min_salary
0,EVENT COORDINATOR,1,1.0,1.0,1.0
1,BOARD MEMBER,5,557.0,551.6,548.0
2,CHAIRMAN,2,592.0,587.0,582.0
3,ADMINISTRATIVE SUPPORT ASSISTANT,1,22500.0,22500.0,22500.0
4,ADMINISTRATIVE ASSISTANT /PHOTOS,1,23000.0,23000.0,23000.0
5,DEPUTY DIRECTOR OF NEWS ANALYSIS,1,23000.0,23000.0,23000.0
6,ASSISTANT MAIL CLERK,4,25000.0,23250.0,21500.0
7,MAIL ANALYST,2,24000.0,23500.0,23000.0
8,STAFF ASSISTANT TO THE ASSOCIATE DIRECTOR,2,25000.0,23500.0,22000.0
9,NEWS ANALYSIS COORDINATOR,4,25000.0,23750.0,23000.0

In [17]:
# Salaire max, min, moyen et compte par genre ( homme / femme )
pipeline = [
    {
        "$group": {
            "_id": "$gender",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
      "$sort": {
          "max_salary": pymongo.DESCENDING
      }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": 1,
            "avg_salary": 1,
            "min_salary": 1
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

      _id  max_salary  min_salary    avg_salary  count
0    Male    239595.0         1.0  83051.626758   4978
1  Female    183000.0         1.0  68641.345347   5577

In [18]:
# Salaire max, min, avg, et compte, par status
pipeline = [
    {
        "$group": {
            "_id": "$status",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "max_salary": pymongo.DESCENDING
        }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pd.DataFrame(results)

                    _id  count  max_salary     avg_salary  min_salary
0              Detailee    674    239595.0  102545.330861     23621.0
1              Employee   9879    183000.0   73596.237271         1.0
2  Employee (part-time)      2     50000.0   35500.000000     21000.0

# Detailee : An employee of a United States government agency on assignment or loan.

In [21]:
# Salaire max, min, moyen et compte par année
pipeline = [
    {
        "$group": {
            "_id": "$year",
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "_id": pymongo.DESCENDING
        }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pp(list(results))

[{'_id': 2020,
  'avg_salary': 98613.98511166254,
  'count': 403,
  'max_salary': 190289.0,
  'min_salary': 30000.0},
 {'_id': 2019,
  'avg_salary': 99240.97115384616,
  'count': 416,
  'max_salary': 239595.0,
  'min_salary': 30000.0},
 {'_id': 2018,
  'avg_salary': 94753.20967741935,
  'count': 372,
  'max_salary': 179700.0,
  'min_salary': 30000.0},
 {'_id': 2017,
  'avg_salary': 95633.00534759359,
  'count': 374,
  'max_salary': 187100.0,
  'min_salary': 30000.0},
 {'_id': 2016,
  'avg_salary': 84762.36886993604,
  'count': 469,
  'max_salary': 176461.0,
  'min_salary': 42000.0},
 {'_id': 2015,
  'avg_salary': 85223.71822033898,
  'count': 472,
  'max_salary': 173922.0,
  'min_salary': 41000.0},
 {'_id': 2014,
  'avg_salary': 83209.0859030837,
  'count': 454,
  'max_salary': 172200.0,
  'min_salary': 42000.0},
 {'_id': 2013,
  'avg_salary': 82663.27510917031,
  'count': 458,
  'max_salary': 225000.0,
  'min_salary': 41000.0},
 {'_id': 2012,
  'avg_salary': 81190.10515021459,
  'count': 466,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': 2011,
  'avg_salary': 82309.23059866963,
  'count': 451,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': 2010,
  'avg_salary': 83253.87768240343,
  'count': 466,
  'max_salary': 179700.0,
  'min_salary': 21000.0},
 {'_id': 2009,
  'avg_salary': 80715.92164948453,
  'count': 485,
  'max_salary': 192934.0,
  'min_salary': 36000.0},
 {'_id': 2008,
  'avg_salary': 74257.31767337807,
  'count': 447,
  'max_salary': 172200.0,
  'min_salary': 33400.0},
 {'_id': 2007,
  'avg_salary': 69200.33408577878,
  'count': 443,
  'max_salary': 168000.0,
  'min_salary': 557.0},
 {'_id': 2006,
  'avg_salary': 65928.79166666667,
  'count': 432,
  'max_salary': 165200.0,
  'min_salary': 548.0},
 {'_id': 2005,
  'avg_salary': 64580.670761670764,
  'count': 407,
  'max_salary': 161000.0,
  'min_salary': 30000.0},
 {'_id': 2004,
  'avg_salary': 66974.01869158879,
  'count': 428,
  'max_salary': 157000.0,
  'min_salary': 23621.0},
 {'_id': 2003,
  'avg_salary': 65939.65952890793,
  'count': 467,
  'max_salary': 174000.0,
  'min_salary': 28100.0},
 {'_id': 2002,
  'avg_salary': 67156.7240704501,
  'count': 511,
  'max_salary': 183372.0,
  'min_salary': 25000.0},
 {'_id': 2001,
  'avg_salary': 58188.7398989899,
  'count': 396,
  'max_salary': 140000.0,
  'min_salary': 25000.0},
 {'_id': 2000,
  'avg_salary': 59225.47747747748,
  'count': 444,
  'max_salary': 130000.0,
  'min_salary': 1.0},
 {'_id': 1999,
  'avg_salary': 58973.033482142855,
  'count': 448,
  'max_salary': 130000.0,
  'min_salary': 23000.0},
 {'_id': 1998,
  'avg_salary': 55434.95704057279,
  'count': 419,
  'max_salary': 125000.0,
  'min_salary': 1.0},
 {'_id': 1997,
  'avg_salary': 56935.7962529274,
  'count': 427,
  'max_salary': 125000.0,
  'min_salary': 1.0}]

In [22]:
# Salaire max, min, moyen, et compte par genre ( homme/femme ), et par année
pipeline = [
    {
        "$group": {
            "_id": { "year": "$year",
                     "gender": "$gender"
                     },
            "max_salary": { "$max": "$salary"},
            "min_salary": { "$min": "$salary"},
            "avg_salary": { "$avg": "$salary"},
            "count": { "$sum": 1}
        }
    },
    {
        "$sort": {
            "_id": pymongo.DESCENDING
        }
    },
    {
        "$project": {
            "_id": 1,
            "count": 1,
            "max_salary": "$max_salary",
            "avg_salary": "$avg_salary",
            "min_salary": "$min_salary"
        }
    }
]
results = db.salary.aggregate(pipeline)
pp(list(results))

[{'_id': {'gender': 'Male', 'year': 2020},
  'avg_salary': 106407.19266055046,
  'count': 218,
  'max_salary': 190289.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2020},
  'avg_salary': 89430.63783783784,
  'count': 185,
  'max_salary': 183000.0,
  'min_salary': 43600.0},
 {'_id': {'gender': 'Male', 'year': 2019},
  'avg_salary': 107594.07692307692,
  'count': 221,
  'max_salary': 239595.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2019},
  'avg_salary': 89774.11794871795,
  'count': 195,
  'max_salary': 183000.0,
  'min_salary': 43600.0},
 {'_id': {'gender': 'Male', 'year': 2018},
  'avg_salary': 102793.79894179894,
  'count': 189,
  'max_salary': 179700.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2018},
  'avg_salary': 86448.99453551913,
  'count': 183,
  'max_salary': 179700.0,
  'min_salary': 40800.0},
 {'_id': {'gender': 'Male', 'year': 2017},
  'avg_salary': 104969.21782178218,
  'count': 202,
  'max_salary': 187100.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2017},
  'avg_salary': 84668.38372093023,
  'count': 172,
  'max_salary': 179700.0,
  'min_salary': 40000.0},
 {'_id': {'gender': 'Male', 'year': 2016},
  'avg_salary': 87862.83084577114,
  'count': 201,
  'max_salary': 176461.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Female', 'year': 2016},
  'avg_salary': 82437.0223880597,
  'count': 268,
  'max_salary': 176461.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Male', 'year': 2015},
  'avg_salary': 90220.84210526316,
  'count': 209,
  'max_salary': 173922.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Female', 'year': 2015},
  'avg_salary': 81252.61977186312,
  'count': 263,
  'max_salary': 173922.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Male', 'year': 2014},
  'avg_salary': 87975.95454545454,
  'count': 220,
  'max_salary': 172200.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Female', 'year': 2014},
  'avg_salary': 78727.41452991453,
  'count': 234,
  'max_salary': 172200.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Male', 'year': 2013},
  'avg_salary': 85756.60888888889,
  'count': 225,
  'max_salary': 225000.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Female', 'year': 2013},
  'avg_salary': 79676.15021459227,
  'count': 233,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Male', 'year': 2012},
  'avg_salary': 85819.26382978723,
  'count': 235,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Female', 'year': 2012},
  'avg_salary': 76480.78787878787,
  'count': 231,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Male', 'year': 2011},
  'avg_salary': 86643.83690987124,
  'count': 233,
  'max_salary': 172200.0,
  'min_salary': 41000.0},
 {'_id': {'gender': 'Female', 'year': 2011},
  'avg_salary': 77676.37155963303,
  'count': 218,
  'max_salary': 172200.0,
  'min_salary': 42000.0},
 {'_id': {'gender': 'Male', 'year': 2010},
  'avg_salary': 85800.51680672269,
  'count': 238,
  'max_salary': 179700.0,
  'min_salary': 37826.0},
 {'_id': {'gender': 'Female', 'year': 2010},
  'avg_salary': 80595.54385964913,
  'count': 228,
  'max_salary': 172200.0,
  'min_salary': 21000.0},
 {'_id': {'gender': 'Male', 'year': 2009},
  'avg_salary': 84642.59670781893,
  'count': 243,
  'max_salary': 192934.0,
  'min_salary': 36000.0},
 {'_id': {'gender': 'Female', 'year': 2009},
  'avg_salary': 76773.02066115703,
  'count': 242,
  'max_salary': 172200.0,
  'min_salary': 36000.0},
 {'_id': {'gender': 'Male', 'year': 2008},
  'avg_salary': 83514.40528634361,
  'count': 227,
  'max_salary': 172200.0,
  'min_salary': 33400.0},
 {'_id': {'gender': 'Female', 'year': 2008},
  'avg_salary': 64705.68636363636,
  'count': 220,
  'max_salary': 172200.0,
  'min_salary': 33400.0},
 {'_id': {'gender': 'Male', 'year': 2007},
  'avg_salary': 76090.26200873363,
  'count': 229,
  'max_salary': 168000.0,
  'min_salary': 557.0},
 {'_id': {'gender': 'Female', 'year': 2007},
  'avg_salary': 61827.46728971963,
  'count': 214,
  'max_salary': 168000.0,
  'min_salary': 592.0},
 {'_id': {'gender': 'Male', 'year': 2006},
  'avg_salary': 72090.80597014926,
  'count': 201,
  'max_salary': 165200.0,
  'min_salary': 548.0},
 {'_id': {'gender': 'Female', 'year': 2006},
  'avg_salary': 60567.03896103896,
  'count': 231,
  'max_salary': 165200.0,
  'min_salary': 582.0},
 {'_id': {'gender': 'Male', 'year': 2005},
  'avg_salary': 71110.35028248587,
  'count': 177,
  'max_salary': 161000.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2005},
  'avg_salary': 59555.65652173913,
  'count': 230,
  'max_salary': 161000.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Male', 'year': 2004},
  'avg_salary': 75939.78723404255,
  'count': 188,
  'max_salary': 157000.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2004},
  'avg_salary': 59950.833333333336,
  'count': 240,
  'max_salary': 157000.0,
  'min_salary': 23621.0},
 {'_id': {'gender': 'Male', 'year': 2003},
  'avg_salary': 77382.30232558139,
  'count': 215,
  'max_salary': 174000.0,
  'min_salary': 30000.0},
 {'_id': {'gender': 'Female', 'year': 2003},
  'avg_salary': 56177.0873015873,
  'count': 252,
  'max_salary': 151000.0,
  'min_salary': 28100.0},
 {'_id': {'gender': 'Male', 'year': 2002},
  'avg_salary': 78509.89795918367,
  'count': 245,
  'max_salary': 183372.0,
  'min_salary': 25000.0},
 {'_id': {'gender': 'Female', 'year': 2002},
  'avg_salary': 56699.85338345865,
  'count': 266,
  'max_salary': 145000.0,
  'min_salary': 25000.0},
 {'_id': {'gender': 'Male', 'year': 2001},
  'avg_salary': 66675.2122905028,
  'count': 179,
  'max_salary': 140000.0,
  'min_salary': 25000.0},
 {'_id': {'gender': 'Female', 'year': 2001},
  'avg_salary': 51188.37788018433,
  'count': 217,
  'max_salary': 140000.0,
  'min_salary': 25000.0},
 {'_id': {'gender': 'Male', 'year': 2000},
  'avg_salary': 64131.51162790698,
  'count': 172,
  'max_salary': 130000.0,
  'min_salary': 25000.0},
 {'_id': {'gender': 'Female', 'year': 2000},
  'avg_salary': 56123.132352941175,
  'count': 272,
  'max_salary': 126825.0,
  'min_salary': 1.0},
 {'_id': {'gender': 'Male', 'year': 1999},
  'avg_salary': 66486.83815028901,
  'count': 173,
  'max_salary': 130000.0,
  'min_salary': 23000.0},
 {'_id': {'gender': 'Female', 'year': 1999},
  'avg_salary': 54246.167272727274,
  'count': 275,
  'max_salary': 125000.0,
  'min_salary': 23000.0},
 {'_id': {'gender': 'Male', 'year': 1998},
  'avg_salary': 61215.4674556213,
  'count': 169,
  'max_salary': 125000.0,
  'min_salary': 1.0},
 {'_id': {'gender': 'Female', 'year': 1998},
  'avg_salary': 51527.332,
  'count': 250,
  'max_salary': 125000.0,
  'min_salary': 22850.0},
 {'_id': {'gender': 'Male', 'year': 1997},
  'avg_salary': 64451.112426035506,
  'count': 169,
  'max_salary': 125000.0,
  'min_salary': 1.0},
 {'_id': {'gender': 'Female', 'year': 1997},
  'avg_salary': 52012.97286821705,
  'count': 258,
  'max_salary': 125000.0,
  'min_salary': 22000.0}]

In [97]:
import requests
import json
url = "https://data.mongodb-api.com/app/data-bsakz/endpoint/data/beta/action/findOne"
payload = json.dumps({
    "collection": "salary",
    "database": "initial",
    "dataSource": "initial",
    "projection": {
        "_id": 1,
        "first_name":1,
        "last_name":1
    }
})
headers = {
    'Content-Type': 'application/json',
    'Access-Control-Request-Headers': '*',
    'api-key': 'Lm5DBZm83GTKdUvVlMpdantcST8HiPO5v2IrEMvAmoWmRwRsCtDWT7emKymXmpov'
}
response = requests.request("POST", url, headers=headers, data=payload)
pp(response.text)

('{"document":{"_id":"6284a6ad6144e2d0fe55fcbb","last_name":"Abedin","first_name":"Huma '
 'M."}}')

In [108]:
# Fontion qui retourne les n personnes ayants le plus faible salaire
def findnls(n: int):
    try:
        return pp(list(db.salary.find({}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnls(2)

[{'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1998},
 {'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1997}]

In [107]:
# Fontion qui retourne les n personnes masculines ayants le plus faible salaire
def findnlsm(n: int):
    try:
        return pp(list(db.salary.find({"gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnlsm(2)

[{'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1998},
 {'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1997}]

In [106]:
# Fontion qui retourne les n personnes féminines ayants le plus faible salaire
def findnlsf(n: int):
    try:
        return pp(list(db.salary.find({"gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnlsf(2)

[{'first_name': 'Carmella A.',
  'gender': 'Female',
  'last_name': 'Laspada',
  'pay_basis': 'Per Annum',
  'position_title': 'EVENT COORDINATOR',
  'salary': 1.0,
  'status': 'Employee',
  'year': 2000},
 {'first_name': 'Carol E.',
  'gender': 'Female',
  'last_name': 'Dinkins',
  'pay_basis': 'Per Annum',
  'position_title': 'CHAIRMAN',
  'salary': 582.0,
  'status': 'Employee',
  'year': 2006}]

In [105]:
# Fontion qui retourne les n personnes ayants le plus haut salaire
def findnms(n: int):
    try:
        return pp(list(db.salary.find({}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnms(2)

[{'first_name': 'John S.',
  'gender': 'Male',
  'last_name': 'Czwartacki',
  'pay_basis': 'Per Annum',
  'position_title': 'SENIOR ADVISOR TO THE CHIEF OF STAFF FOR STRATEGY AND '
                    'STAKEHOLDER ENGAGEMENT',
  'salary': 239595.0,
  'status': 'Detailee',
  'year': 2019},
 {'first_name': 'Seth F.',
  'gender': 'Male',
  'last_name': 'Wheeler',
  'pay_basis': 'Per Annum',
  'position_title': 'SENIOR POLICY ADVISOR',
  'salary': 225000.0,
  'status': 'Detailee',
  'year': 2013}]

In [104]:
# Fontion qui retourne les n personnes masculines ayants le plus haut salaire
def findnmsh(n: int):
    try:
        return pp(list(db.salary.find({"gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnls(2)

[{'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1998},
 {'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1997}]

In [103]:
# Fontion qui retourne les n personnes féminines ayants le plus haut salaire
def findnmsf(n: int):
    try:
        return pp(list(db.salary.find({"gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=n)))
    except:
        return print("Erreur")
    
findnls(2)

[{'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1998},
 {'first_name': 'Erskine B.',
  'gender': 'Male',
  'last_name': 'Bowles',
  'pay_basis': 'Per Annum',
  'position_title': 'CHIEF OF STAFF TO THE PRESIDENT',
  'salary': 1.0,
  'status': 'Employee',
  'year': 1997}]

In [83]:
# Fontion qui retourne la personne ayant le plus faible salaire
def findlsg():
    try:
        return print(db.salary.find_one({}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    except:
        return print("Erreur")
    
findlsg()

{'year': 1997, 'gender': 'Male', 'status': 'Employee', 'salary': 1.0, 'pay_basis': 'Per Annum', 'position_title': 'CHIEF OF STAFF TO THE PRESIDENT', 'last_name': 'Bowles', 'first_name': 'Erskine B.'}

In [84]:
# Fonction qui retourne la personne masculine ayant le plus faible salaire
def findlsh():
    try:
        return print(db.salary.find_one({"gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    except:
        return print("Erreur")
    
findlsh()

{'year': 1997, 'gender': 'Male', 'status': 'Employee', 'salary': 1.0, 'pay_basis': 'Per Annum', 'position_title': 'CHIEF OF STAFF TO THE PRESIDENT', 'last_name': 'Bowles', 'first_name': 'Erskine B.'}

In [85]:
# Fonction qui retourne la personne féminine ayant le plus faible salaire
def findlsf():
    try:
        return print(db.salary.find_one({"gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    except:
        return print("Erreur")
    
findlsf()

{'year': 2000, 'gender': 'Female', 'status': 'Employee', 'salary': 1.0, 'pay_basis': 'Per Annum', 'position_title': 'EVENT COORDINATOR', 'last_name': 'Laspada', 'first_name': 'Carmella A.'}

In [81]:
# Fonction qui retourne la personne masculine ayant le plus haut salaire
def findmsg():
    try:
        return print(db.salary.find_one({}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur")
    
findmsg()

{'year': 2019, 'gender': 'Male', 'status': 'Detailee', 'salary': 239595.0, 'pay_basis': 'Per Annum', 'position_title': 'SENIOR ADVISOR TO THE CHIEF OF STAFF FOR STRATEGY AND STAKEHOLDER ENGAGEMENT', 'last_name': 'Czwartacki', 'first_name': 'John S.'}

In [ ]:
# Fonction qui retourne la personne masculine ayant le plus haut salaire
def findmsh():
    try:
        return print(db.salary.find_one({"gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur")
    
findmsh()

In [ ]:
# Fonction qui retourne la personne féminine ayant le plus haut salaire
def findmsf():
    try:
        return print(db.salary.find_one({"gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur")
    
findmsf()

In [72]:
# Fonction qui retourne la personne ayant le plus haut salaire pour une année donnée
def findms(year: int):
    try:
        return print(db.salary.find_one({"year":year}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
findms(2020)

{'year': 2020, 'gender': 'Male', 'status': 'Detailee', 'salary': 190289.0, 'pay_basis': 'Per Annum', 'position_title': 'SPECIAL REPRESENTATIVE FOR DISASTER RECOVERY', 'last_name': 'Brown', 'first_name': 'Peter J.'}

In [74]:
# Fonction qui retourne la personne masculine ayant le plus haut salaire pour une année donnée
def findms(year: int):
    try:
        return print(db.salary.find_one({"year":year, "gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
findms(2020)

{'year': 2020, 'gender': 'Male', 'status': 'Detailee', 'salary': 190289.0, 'pay_basis': 'Per Annum', 'position_title': 'SPECIAL REPRESENTATIVE FOR DISASTER RECOVERY', 'last_name': 'Brown', 'first_name': 'Peter J.'}

In [73]:
# Fonction qui retourne la personne féminine ayant le plus haut salaire pour une année donnée
def findms(year: int):
    try:
        return print(db.salary.find_one({"year":year, "gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.DESCENDING)], limit=1))
    except:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
findms(2020)

{'year': 2020, 'gender': 'Female', 'status': 'Employee', 'salary': 183000.0, 'pay_basis': 'Per Annum', 'position_title': 'ASSISTANT TO THE PRESIDENT AND SENIOR COUNSELOR', 'last_name': 'Conway', 'first_name': 'Kellyanne E.'}

In [63]:
# Fontion qui retourne la personne ayant le plus faible salaire pour une année donnée
def findls(year: int):
    if year >= 1997 & year <= 2020:
        return print(db.salary.find_one({"year":year}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    else:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
    
findls(2020)

{'year': 2020, 'gender': 'Male', 'status': 'Employee', 'salary': 30000.0, 'pay_basis': 'Per Annum', 'position_title': 'ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF STAFF FOR POLICY COORDINATION', 'last_name': 'Liddell', 'first_name': 'Christopher P.'}

In [78]:
# Fonction qui retourne la personne masculine ayant le plus faible salaire pour une année donnée
def findms(year: int):
    try:
        return print(db.salary.find_one({"year":year, "gender":"Male"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    except:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
findms(2020)

{'year': 2020, 'gender': 'Male', 'status': 'Employee', 'salary': 30000.0, 'pay_basis': 'Per Annum', 'position_title': 'ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF STAFF FOR POLICY COORDINATION', 'last_name': 'Liddell', 'first_name': 'Christopher P.'}

In [77]:
# Fonction qui retourne la personne féminine ayant le plus faible salaire pour une année donnée
def findms(year: int):
    try:
        return print(db.salary.find_one({"year":year, "gender":"Female"}, {"_id":0, "index":0, "level_0":0}, sort=[('salary', pymongo.ASCENDING)], limit=1))
    except:
        return print("Erreur de saisie: Veuillez saisir une année entre 1997 et 2020")
findms(2020)

{'year': 2020, 'gender': 'Female', 'status': 'Employee', 'salary': 43600.0, 'pay_basis': 'Per Annum', 'position_title': 'STAFF ASSISTANT', 'last_name': 'Donlon', 'first_name': 'Caroline G.'}